.Slide-Content, .Tab-Content {
	display: -webkit-box;
	overflow: hidden;		
	-webkit-box-orient: vertical;			
	-webkit-box-flex: 1;
	/*
	-webkit-box-align: center;
	-webkit-box-pack: top;
	color: gray;
	background: transparent;
	border-radius: 0.4em;
	-webkit-box-shadow: white 0em 0em 0.1em;	
	*/		
}

.Container {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.Output {
	margin: .5em 0 .5em 0;
	padding: .2em;
	color: gray;
	background: white;
	-webkit-box-flex: 1;
	border-radius: 0.6em;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0em 0em 0.5em;	
	overflow: hidden;				
}

.EntityList {
	background-color: transparent;
	width: 100%;
}